{% extends "blank.html" %}
{% load static %}
{% load percent %}
{% load range %}
{% load index %}

{% block title %}Devis{% endblock %}

{% block page_title %}Devis{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
            </div>     
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Devis en cours</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-6">
                                {% if message != "" %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h5><i class="icon fas fa-check"></i>{{message}}</h5>
                                    </div>
                                {% endif %}
                                {% if error != "" %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h5><i class="icon fas fa-ban"></i>{{error}}</h5>
                                    </div>
                                {% endif %}
                            </div>                
                            <table class="table table-bordered">
                                <thead>    
                                    <th>Pourcentage</th>
									<th>Prix Total</th>
									<th>Date Debut Construction</th>
									<th>Date Devis</th>
									<th>Date Fin Construction</th>
									<th>Client</th>
									<th>Finition</th>
									<th>Paiement Effectue</th>
									<th>Pourcentage Paiement Effectue</th>
									<th>Type</th>
									
									
                                    <th></th>
                                </thead>  
                                <tbody>
                                    {% for elt in range %}
                                        {% with current_item=data|index:forloop.counter0 %}
                                        <tr>
											<td>{{current_item.pourcentage}}</td>
											<td>{{current_item.prix_total}}</td>
											<td>{{current_item.date_debut_construction}}</td>
											<td>{{current_item.date_devis}}</td>
											<td>{{current_item.date_fin_construction}}</td>
											<td>{{current_item.client.numero}}</td>
											<td>{{current_item.finition.libelle}}</td>
                                            <td>{{ current_item.paiement_effectue}} Ar</td>
                            
                                            {% if pourcentage|index:forloop.counter < 50 %}
                                                <td style="color: green;">{{pourcentage|index:forloop.counter0}} %</td>
                                            {% elif pourcentage|index:i == 50 %}
                                                <td>{{pourcentage|index:forloop.counter0}} %</td>
                                            {% else %}
                                                <td  style="color: red;">{{pourcentage|index:forloop.counter0}} %</td>
                                            {% endif %}
											<td>{{current_item.type.libelle}}</td>
											
                                            <td>
                                                <a href="/devis/details/{{elt.id_devis}}">
                                                    <button class="btn btn-success">
                                                        <img src="{% static 'icons/arrow-forward-outline.svg' %}" width="25" height="25" fill="currentColor" />
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {%endwith%}
                                    {%endfor%}
                                </tbody> 
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            <ul class="pagination float-right">
                                {% if data.number > 3 %}
                                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                    {% if data.number > 4 %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                {% endif %}

                                {% for num in data.paginator.page_range %}
                                    {% if data.number == num %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% elif num > data.number|add:'-3' and num < data.number|add:'3' %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if data.number < data.paginator.num_pages|add:'-3' %}
                                    <li class="page-item"><span>...</span></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a></li>
                                {% elif data.number < data.paginator.num_pages|add:'-2' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
