label{
  width: 100%;
  font-size: 1rem;
  color: black;
}
.card-radio + .card {
  height: fit-content;
  /* color: var(--primary); */
  /* -webkit-box-shadow: none; */
  /* box-shadow: none; */
  /* border: 2px solid transparent; */
  /* border-radius: 4px; */
}

.card-radio + .card:hover {
  cursor: pointer;
}

.card-radio:checked + .card {
  border: 2px solid blue;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.card-radio:checked + .card::after {
  /* content: "\e5ca"; */
  /* color: #afb8ea; */
  /* font-family: "Material Icons"; */
  /* font-size: 24px; */
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
