{% extends "blank.html" %}
{% load static %}

{% block title %}Import paiement{% endblock %}
{% block page_title %}Import paiement{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><h2>Import Paiement</h2></h3>
                    </div>
                    <div class="card-body">
                        {% if error != "" %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h5><i class="icon fas fa-ban"></i>{{error}}</h5>
                            </div>
                        {% endif %}
                        <form action="/import/import-paiement" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label" > <h4>Paiement</h4> </label>
                                <input type="file" name="paiement" class="form-control">
                            </div>
						
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                            </div>
                        </form>
                    </div>            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
