{% extends "blank.html" %}
{% load static %}

{% block title %}Import devis et travaux maison{% endblock %}
{% block page_title %}Import devis et travaux maison{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Update Travaux</h3>
                    </div>
                    <div class="card-body">
                        {% if error != "" %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h5><i class="icon fas fa-ban"></i>{{error}}</h5>
                            </div>
                        {% endif %}
                        <form action="/import/import-other" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label" >Travaux Type</label>
                                <input type="file" name="travaux" class="form-control" id="exampleInputFile">
                            <div class="form-group">
                                <label class="form-label" >Devis</label> 
                                <input type="file" name="devis" class="form-control" id="exampleInputFile">
                            </div>
                        
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                            </div>
                        </form>
                    </div>            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
